---
import Button from "./Button.astro"
import { getI18N } from '../i18n';
const { currentLocale} = Astro
const i18n = getI18N({currentLocale});
---


<div class="w-full flex items-center justify-center bg-neutral py-24">
  <div class="grid md:grid-cols-2 gap-8 mx-4 w-full max-w-4xl">
    
    <div>
      
      <div class="flex flex-row gap-8 mb-6 justify-center overflow-hidden">
        <img src="/images/customer1.jpg" alt="Descripción de la imagen" class="w-48 h-48 md:w-56 md:h-56  rounded-lg ">
        <img src="/images/customer2.jpg" alt="Descripción de la imagen" class="w-48 h-48 md:w-56 md:h-56  rounded-lg">
      </div>
      <div class="text-center mx-10 text-secondary">
        
        <h2 class="text-2xl font-bold mb-4 font-aclonica">{i18n.CUSTOMERS.TITLE}</h2>
        
        <p class="mb-4 font-nunito-sans">{i18n.CUSTOMERS.TEXT}</p>
        
        <Button text="More About Us" />
      </div>
    </div>

    
    <div class="flex flex-col gap-4">
      
      <img src="/images/customer3.jpg" alt="Descripción de la imagen" class="w-full h-80  rounded-lg shadow-lg mb-6">
      
      <div class="flex gap-2 text-center font-aclonica">
        <div class="w-1/2 text-center">
          <h3 class="text-xl font-semibold mb-4 text-primary">12+</h3>
          <h5 class="text-secondary">{i18n.CUSTOMERS.EXPERIENCE}</h5>
        </div>
      
        <div class="w-1/2 text-center">
          <h3 class="text-xl font-semibold mb-4 text-primary">99%</h3>
          <h5 class="text-secondary">{i18n.CUSTOMERS.SATISFACTION}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
