---
import Button from './Button.astro'
import LanguageSelector from './LanguageSelector.astro'
import { getI18N } from '../i18n';
const { currentLocale} = Astro
const i18n = getI18N({currentLocale});
---
<div class="bg-accent">
  <div class="container mx-auto px-4 lg:px-8">
    <div class="navbar">
      <div class="navbar-start">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
          </div>
          <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 text-secondary">
            <li><a href="/">{i18n.NAVBAR.HOME}</a></li>
            <li><a href="#reviews-section">{i18n.NAVBAR.SERVICES}</a></li>
            <li><a href="#team-section">{i18n.NAVBAR.CONTACT}</a></li>
          </ul>
          
        </div>
        <a class="btn btn-ghost text-xl text-primary" href="/">Barber Shop</a>
      </div>
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1 text-secondary">
          <li><a href="/">{i18n.NAVBAR.HOME}</a></li>
          <li><a href="#reviews-section">{i18n.NAVBAR.SERVICES}</a></li>
          <li><a href="#team-section">{i18n.NAVBAR.CONTACT}</a></li>
          <li ><LanguageSelector /></li>
        </ul>
      </div>
      <div class="navbar-end">
        <Button text={i18n.NAVBAR.BOOK_SERVICE}/>
      </div>
    </div>
  </div>
</div>
