---
import Button from '../components/Button.astro'
import { getI18N } from '../i18n';
const { currentLocale} = Astro
const i18n = getI18N({currentLocale});
const servicesList = i18n.SERVICES.LIST;
---

<div class="w-full flex items-center justify-center bg-neutral py-24">
    <div class="grid md:grid-cols-3 gap-8 mx-4 w-full max-w-4xl">
        <div class="flex flex-col items-center justify-center text-center space-y-4">
            <img src="https://images.pexels.com/photos/3998419/pexels-photo-3998419.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Descripción de la imagen" class="rounded-lg shadow-md h-48 w-full ">
            <h2 class="text-xl font-bold font-aclonica text-primary">{i18n.SERVICES.TITLE1}</h2>
            <p class="text-secondary">{i18n.SERVICES.TEXT1}</p>
            <Button text={i18n.SERVICES.CTA_BUTTON_TEXT}/>
        </div>

        <div class="hidden md:block">
            <img src="https://images.pexels.com/photos/2076932/pexels-photo-2076932.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Descripción de la imagen central" class="h-full w-full  rounded-lg shadow-md">
        </div>

        <div class="flex flex-col items-center justify-center text-center space-y-4">
            <h2 class="text-xl font-bold text-secondary">{i18n.SERVICES.TITLE2}</h2>
            <p class="text-secondary">{i18n.SERVICES.TEXT2}</p>
            <ul class="list-disc list-inside text-primary font-aclonica font-bold">
                {servicesList.map((serviceItem, index) => (
                  <div>
                    <li class="list-none">{serviceItem}</li>
                    {/* Condición para no incluir <hr> después del último elemento */}
                    {index < servicesList.length - 1 && <hr class="my-2"/>}
                  </div>
                ))}
            </ul>
        </div>
    </div>
</div>
