---
import { getI18N } from '../i18n';
const { currentLocale} = Astro
const i18n = getI18N({currentLocale});
const teamMembers = i18n.TEAM.CARDS;
---

<div class="w-full flex items-center justify-center bg-primary py-24" id="team-section">
    <div class=" w-full max-w-4xl px-4sm:px-6 mx-4 lg:px-4">
        <div class="text-center">
            <h1 class="text-3xl font-bold text-secondary">{i18n.TEAM.TITLE}</h1>
            <p class="mt-3 max-w-2xl mx-auto text-xl text-secondary sm:mt-4">
                {i18n.TEAM.TEXT}
            </p>
        </div>

        <div class="mt-10 text-center">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
                
                {teamMembers.map(member => (
                    <div class="card card-compact w-full bg-neutral shadow-xl" >
                        <figure>
                            <img class="h-60 w-full" src={member.IMAGE_URL} alt={member.NAME} />
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title mx-auto text-primary">{member.NAME}</h2>
                            <h5 class="text-secondary">{member.DESCRIPTION}</h5>
                        </div>
                    </div>
                  ))}
               
            </div>
        </div>
    </div>
</div>
